.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  	top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__logo {
    display: block;
  }

  &__nav {
    display: block;

  	@media (max-width: $md-width) {
  		width: 100%;
  		margin-top: 40px;
  		display: none;
  	}
  }

  &__mobile-nav {
    li:after {
      background-color: $white!important;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 40px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background-color: $magenta;
        transition: 200ms width ease;
      }

      &.active, &:hover, &:active, &:focus {
        &:after {
          width: 50%;
        }
      }

      @media (max-width: $md-width) {
        margin: 0 20px;
      }

      @media (max-width: $md-width) {
        display: block;
        margin: 0 0 20px 0;

        &:last-of-type {
          margin-bottom: 10px;
        }
      }

      a {
        display: block;
        color: $white;
        text-align: center;
        font-size: 16px;
        width: 100%;

        @media (max-width: $md-width) {
          padding: 5px;
          font-size: 18px;
        }
      }
    }
  }
}

.header__hamburger {
	display: none;
  background-color: $magenta-purple;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 43px;
  height: 35px;
  cursor: pointer;
  padding: 7px;

	@media (max-width: $md-width) {
		display: flex;
    flex-direction: column;
    justify-content: space-between;
		flex-wrap: wrap;
	}

	&-bar {
		height: 3px;
		width: 100%;
		background-color: $white;
	}

	&--open {
    position: relative;
    top: 1px;
    right: 6.5px;
    width: 30px;
    height: 30px;
    padding: 0;

		.header__hamburger-bar {
      position: relative;

			&--top {
				transform: rotate(45deg);
				position: absolute;
				top: calc(50% - 2px);
        left: 0;
			}

			&--middle {
				display: none;
			}

			&--bottom {
				transform: rotate(-45deg);
				position: absolute;
        top: calc(50% - 2px);
				left: 0;
			}
		}
	}
}

.header__mobile {
  background-color: $magenta-purple;
  position: fixed;
  width: 200px;
  right: -200px;
  top: 0;
  transition: 200ms right linear;
  height: 100vh;
  padding: 22px 20px;

  @media (min-width: $md-width-plus) {
    display: none;
  }

  &--open {
    right: 0;
  }

  .header__hamburger {
    margin-left: auto;
    margin-bottom: 25px;
  }
}
