a {
  text-decoration: none;
  transition: 200ms color ease;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
}

h2, .h2 {
  font-size: 22px;
}

h3, .h3 {
  font-size: 26px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

p {
  margin: 0;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regular.woff2') format('woff2'),
         url('../fonts/lato/lato-regular.woff') format('woff'),
         url('../fonts/lato/lato-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bold.woff2') format('woff2'),
         url('../fonts/lato/lato-bold.woff') format('woff'),
         url('../fonts/lato/lato-bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-black.woff2') format('woff2'),
         url('../fonts/lato/lato-black.woff') format('woff'),
         url('../fonts/lato/lato-black.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
