$black: #151515;
$dark-gray: #6f6f6f;
$gray: #969595;
$med-gray: #e3e3e3;
$light-gray: #f1f2f2;
$white: #fff;
$magenta: #c506c2;
$magenta-purple: #ac15db;
$dark-purple: #7b2be8;
$purple: #a538ff;
$blurple: #6a2ee0;
$footer-bg: #33303e;
$footer-text: #807d8c;
$green: #00b838;

$gradient: linear-gradient(135deg, rgb(211,0,183) 0%, rgb(37,2,213) 100%);

$base-font: 'Lato', sans-serif;
$fancy-font: 'Crimson Text', serif;

$xs-width: 320px;
$xs-width-plus: $xs-width + 1px;
$sm-width: 480px;
$sm-width-plus: $sm-width + 1px;
$md-width: 768px;
$md-width-plus: $md-width + 1px;
$lg-width: 940px;
$lg-width-plus: $lg-width + 1px;
$xl-width: 1200px;
$xl-width-plus: $xl-width + 1px;
